/* Navigation */
.nav-link {
    font-family: "cambria", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #E5E7E6;
  }
  
  .nav-link:hover {
    color: #FFF000;
  }
  
  .logo {
    width: 200px;
  }
  
  .bg-custom {
    background-color: #8A3324;
  }
  
  /* Ensure footer doesn't cover content */
  main {
    padding-bottom: 140px;
  }
  
  /* Hero Section */
.hero-section {
    position: relative;
  }
  
  .hero-image {
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    font-weight: 600;
  }
  
  .hero-icon {
    width: 80px;
  }
  
  /* Responsive text adjustment */
  @media (max-width: 768px) {
    .hero-text h1 {
      font-size: 2rem;
    }
  }
  
.card img {
  height: 250px;
  object-fit: cover;
}
  
  section h3 {
    font-weight: 600;
    margin-bottom: 15px;
  }
